<div class="container-tutor-profile" ng-controller="TutorController">
  <div class="profile-box-large">
    <div class="profile-picture-large" ng-switch="tutor.imageId">
      <img ng-switch-when="undefined" ng-src="../../default-user.jpg" />
      <img ng-switch-default="tutor.imageId !== '' " ng-src="api/users/img/{{tutor.imageId}}" />
    </div>

    <div class="buttons-container-large-profile">
    <table>
      <tr>
        <td>
          <a ng-href="mailto:{{tutor.email}}" target="_blank"><button type="submit" ng-disabled="!loggedIn" class="large-profile-button message" class="contact-tutor-button-large">Message tutor</button></a>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" ng-disabled="!loggedIn" class="large-profile-button likes" class="likes-button-large" ng-click="likeTutor(tutor.username)">Likes: {{tutor.likes || 0}}</button>
        </td>
      </tr>
    </table>
    </div>

    <div class="profile-content-large">
      <div class="profile-text">
        <span class="tutor-name">{{tutor.name}}</span>
          <span class="online-now profile-online-now" ng-show="tutor.status">
          online now
            <img ng-src="../assets/greendot-1-1.png" />
          </span>
      </div>
      <div class="profile-text"><span class="tutor-city">{{tutor.location.city}}</span></div>
      <div class="profile-text">
        <span class="tutor-bio">{{tutor.bio}}</span>
      </div>
      <div><strong>Typical Availability</strong></div>
      <ul>
      <li ng-repeat="time in tutor.times">{{time}}</li>
      </ul>

      <div class="tutor-subjects">{{tutor.subjects.join(', ')}}</div>

      </div>
    </div>
  </div>
</div>